* {
    margin: 0;
    padding: 0;
}

#container {
    background-color: #2e3b4e; 
    border: 4px solid #f39c12; 
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    top: 50px;
}

#hour, #minute, #second {
    position: absolute;
    transform-origin: bottom center; 
    left: 50%;
    bottom: 50%; 
    transform: rotate(90deg); /*by default*/
}

#hour {
    width: 4px;
    height: 60px;
    background-color: #f39c12; 
    border-radius: 5px;
}

#minute {
    width: 3px;
    height: 90px;
    background-color: #ecf0f1;
    opacity: 0.75;
    border-radius: 5px;
}

#second {
    width: 2px;
    height: 100px;
    background-color: #e74c3c;
}


#center-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f39c12; 
    border-radius: 50%;
    left: calc(50% - 5px);
    top: calc(50% - 5px); 
}
.number {
    position: absolute;
    font-size: 20px;
    font-size: bold;
    color: rgb(157, 149, 149);
    font-family: Arial, sans-serif;
}

#number1 { top: 15%; left: 54%; transform: translateX(50%); }
#number2 { top: 22%; left : 58%; transform: translateX(-50%); }
#number3 { top: 32%; left: 58%; transform: translateY(-50%); }
#number4 { top: 38%; left: 57%; transform: translateX(-50%); }
#number5 { top: 44%; left: 54%; transform: translateX(-50%); }
#number6 { top: 48%; left: 49%; transform: translateY(-50%); }
#number7 { top: 46%; left: 45%; transform: translateY(-50%); }
#number8 { top: 40%; left: 42%; transform: translateY(-50%); }
#number9 { top: 32%; left: 41%; transform: translateY(-50%); }
#number10 { top: 24%; left: 41%; transform: translateY(-50%); }
#number11 { top: 15%; left: 45%; transform: translateX(-50%); } 
#number12 { top: 12%; left: 50%; transform: translateX(-50%); }  

